<li class="toc-item toc-item-<%= item.depth %>" data-id="<%= item.id %>">
  <%- if item.url -%>
  <a href="<%= item.url %>" class="item-link">
    <span class="item-title"><%= item.title %></span>
  </a>
  <a href="<%= item.url %>" class="item-slug"><%= item.slug %></a>
  <%- else -%>
  <span class="item-link"><span class="item-title"><%= item.title %></span></span>
  <span class="item-slug"><%= item.slug %></span>
  <%- end -%>
</li>