<li class="list-group-item list-group-item-<%= item.depth %>" data-id="<%= item.id %>">
  <a href="<%= item.url %>" class="item-link">
    <span class="item-title"><%= item.title %></span>
  </a>
  <span class="item-slug"><%= item.url %></span>
</li>